<h1>Angular Azure Blob Storage</h1>
<input type="file" multiple #file (change)="changeFiles($event.target.files)">

<br><br>
<div *ngFor="let file of filesObs | async; let idx = index">
    <div class="file-detail">
        <div class="detail-correct" *ngIf="!file.error">
            <div>{{file.file.name}} - {{file.progress}}</div>
            <div>Error: {{file.error}} - IDX: {{idx}}</div>
        </div>
        <div class="detail-error" *ngIf="file.error">
            <div>
                <div>{{file.file.name}} - {{file.progress}}</div>
                <div>Error: {{file.error}} - IDX: {{idx}}</div>
            </div>
            <div class="options">
                <input type="file" (change)="changeNewFile($event.target.files, idx)">
                <button (click)="deleteFile(idx)">Delete</button> 
            </div>
        </div>
    </div>
    
    
</div>

<p *ngIf="percent > 0">Progress: {{ percent }}%</p>


<!--  <pre>
     {{ filesObs |async | json }}
 </pre> -->